
<div class="container align-items-center">
  <div class="form-group align-items-center">
      <form name="form" #prodForm="ngForm" (ngSubmit)="prodForm.form.valid && addProduct()" >
  <br/>
  <div class="col-md-6">
    <h3 class="dark-grey">Add New Product</h3>

      <div class="form-group col-lg-12">
          <label for="name" class="form-label" >Product Name</label>
          <input type="text" class="form-control" name="productName" [(ngModel)]="product.name" required placeholder="Enter Product name"
           #productName="ngModel" [ngClass]="{'is-invalid':productName.touched && productName.invalid}" maxlength="60" required/>

           <div *ngIf="productName.touched && productName.invalid" class="invalid-feedback">
               <div *ngIf="productName.errors?.['required']">
                   Product Name is required and not more than 60 Chars.
               </div>
               <div *ngIf="productName.errors?.['maxlength']">
                  Product Name Should not be more than 60 Chars.
              </div>
           </div>
      </div>

      <div class="form-group col-lg-12">
          <label for="name" class="form-label" >Department</label>

          <!-- <input type="text" class="form-control" name="department" [(ngModel)]="product.category" required placeholder="Enter Product Department"
          #department="ngModel" [ngClass]="{'is-invalid':department.touched && department.invalid}" required/> -->

          <!-- <select id='department' class="form-control" name='department' [(ngModel)]="product.category">
            <option *ngFor="let item of this.categoryList" [value]="item.id" [selected]="item.name">
              {{item.name}}
            </option>
        </select> -->

        <select id='department' class="form-control" name='department' [(ngModel)]="product.category">
        <ng-container *ngFor="let item of this.categoryList">
          <option [value]="item.id"> {{item.name}}</option>
        </ng-container>
      </select>

          <!-- <div *ngIf="department.select && department.invalid" class="invalid-feedback">
              <div *ngIf="department.errors?.['required']">
                  Department is required and Must be a valid name
              </div>
          </div> -->
      </div>

      <div class="form-group col-lg-12">
          <label for="price" class="form-label" >Price</label>
          <input type="text" class="form-control" name="price" [(ngModel)]="product.price" placeholder="Enter Price"
          #price="ngModel" [ngClass]="{'is-invalid':price.touched && price.invalid}" minlength="1" maxlength="6" required/>
          <div *ngIf="price.touched && price.invalid" class="invalid-feedback">
              <div *ngIf="price.errors?.['required']">
                  Price is required and not be more than 6 Chars.
              </div>
              <div *ngIf="price.errors?.['minlength']">
                  Price Should be atleast 1 and maximum 6 chars long.
              </div>
              <div *ngIf="price.errors?.['maxlength']">
                  Price Should be  maximum 6 chars long.
              </div>

          </div>

      </div>

      <div class="form-group col-lg-12">
          <label for="discount price" class="form-label" >Discount Price</label>
          <input type="text" class="form-control" name="discountPrice" [(ngModel)]="product.discountprice" placeholder="Enter Discounted Price"
          #discountPrice="ngModel" [ngClass]="{'is-invalid':discountPrice.touched && discountPrice.invalid}" minlength="1" maxlength="6" required/>
          <div *ngIf="discountPrice.touched && discountPrice.invalid" class="invalid-feedback">
              <div *ngIf="discountPrice.errors?.['required']">
                 Dsicount Price is required and not be more than 6 Chars.
              </div>
              <div *ngIf="discountPrice.errors?.['minlength']">
                  Discount Price Should be atleast 1 and maximum 6 chars long and should not be greater than Price.
              </div>
              <div *ngIf="discountPrice.errors?.['maxlength']">
                  Discount Price Should be  maximum 6 chars long and should not be greater than Price.
              </div>

          </div>
      </div>

      <div class="form-group col-lg-12">
          <label for="image" class="form-label" >Image</label>
          <input type="text" class="form-control" name="image" [(ngModel)]="product.image" placeholder="Enter URL for Product Image"
          #image="ngModel" [ngClass]="{'is-invalid':image.touched && image.invalid}" required  />

          <div *ngIf="image.touched && image.invalid" class="invalid-feedback">
              <div *ngIf="image.errors?.['required']">
                  Image is required.
              </div>
          </div>
      </div>

      <div class="form-group col-lg-12 ">
          <label for="description" class="form-label" >Description</label>
          <input type="text" class="form-control" name="description" [(ngModel)]="product.description" placeholder="Enter Product Description"
          #description="ngModel" [ngClass]="{'is-invalid':description.touched && description.invalid}" minlength="10" required/>
          <div *ngIf="description.touched && description.invalid" class="invalid-feedback">
              <div *ngIf="description.errors?.['required']">
                  Description is Required
              </div>
              <div *ngIf="description.errors?.['minlength']">
                  Description Should be Atleast 10 Chars.
              </div>
          </div>
      </div>

      <div class="form-check form-switch mb-3">
          <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" name="makeTopSellingProduct" [(ngModel)]="product.isTopProduct" value=true>
          <label class="form-check-label" for="flexSwitchCheckDefault">Top Selling Product</label>
      </div>


      <div class="col-md-6">

          <input type="button" value="Add Prodcut" class="btn btn-primary" (click)="addProduct()" [disabled]="!prodForm.valid" /> &nbsp;
          <!-- <input type="button" value="Go Back" class="btn btn-secondary" routerLink="/admin" class="btn btn-danger"/> -->


      </div>
    </div>
  </form>
  </div>

  </div>
