<div class="container mt-1 mb-1 d-flex justify-content-center align-items-center">
    <div class="card">
        <div class="inner-card"> <img src="{{Product.image}}" class="img-fluid rounded image">
            <div class="d-flex justify-content-between align-items-center mt-3 px-2">
                {{Product.name}}  <span class="heart"><i class="fa fa-heart"></i></span>
            </div>
            <!-- <div class="mt-2 px-2"> 
                <small>
                    {{Product.description}}
                </small> 
            </div> -->
            <div class="px-1 outer" >
                <div class="inner"><h3>${{Product.discountprice}}</h3></div> &nbsp; <div class="inner"><s class="strikePrice">${{Product.price}}</s></div>
            </div>
            <div class="px-2 mt-3 outer"> 
                <!-- <button class="btn btn-primary px-3">Buy Now</button>  -->
                <button class="inner btn btn-warning px-1 btn-sm" (click)="openProductDetails(product._id)">Details</button>
                <button class="inner btn btn-primary px-1 btn-sm" (click)="AddToCart('1')">Add to Cart</button> 
                
            </div>
        </div>
    </div>
</div>

<!-- {
    "price": 400,
    "discountprice": 350,
    "image": "http://localhost:3000/public/uploads/Samsung-Galaxy-S10e-Dual-SIM-Black-1604697997106.png",
    "isTopProduct": true,
    "_id": "620aa9cc5f62bf1bac668967",
    "name": "Taco Bell",
    "category": {
        "_id": "620aa9155f62bf1bac66895f",
        "name": "Mexican Food",
        "icon": "palette",
        "color": "#F0E8DE",
        "__v": 0,
        "id": "620aa9155f62bf1bac66895f"
    },
    "description": "Sudh desi aata",
    "dateCreated": "2022-02-14T19:13:16.130Z",
    "__v": 0,
    "id": "620aa9cc5f62bf1bac668967"
}, -->